colorlog==6.9.0
httpcore<1.1 # Specific version required for paddlepaddle.
keyboard==0.13.5
kthread==0.2.3
logger==1.4
mss==10.0.0
numpy==2.2.2 # <2.0 # Specific version required for paddleOCR.
opencv_python==4.11.0.86
paddleocr
paddlepaddle
Pillow==11.1.0
PyAutoGUI==0.9.54
pynput==1.7.7
pyttsx3==2.98
pywin32==308
protobuf<=5.29.3 # Specific version required for paddlepaddle.
requests
strsimpy